In [113]:
import pandas as pd
import os

In [114]:
def removeUnamed(df):
    columnList = df.columns.tolist()
    newColumnList = columnList.copy()
    i = 0
    while i<len(newColumnList):
        if "Unnamed" in newColumnList[i]:
            stats = newColumnList[i-1].split(" / ")
            newColumnList[i-1] = stats[0]
            newColumnList[i] = " ".join(stats)
        i+=1
    columnsRenamed = dict(zip(columnList,newColumnList))
    df = df.rename(columns=columnsRenamed)
    return df

In [115]:
files = os.listdir("Data/Players")

In [116]:
playersData = pd.read_excel("Data/Players/"+files[0])
playersData = removeUnamed(playersData)
playersData = playersData.assign(Player = files[0].split(".")[0])
for file in files:
    df = pd.read_excel('Data/Players/'+file)
    df = removeUnamed(df)
    df = df.assign(Player = file.split(".")[0])
    playersData = pd.concat([playersData,df])
playersData = playersData[playersData.get("Match").apply(lambda match: "UC San Diego" in match)]
playersData = playersData[playersData.get("Date").apply(lambda date: '2024' in date)]
playersData.drop_duplicates(inplace=True)
usd = playersData[playersData.get("Match").apply(lambda match: "San Diego Toreros" in match)]
usd=usd.set_index("Player")
usd.get(["Passes accurate","Passes","Offensive duels won","Offensive duels"])
playersData

,Match,Competition,Date,Position,Minutes played,Total actions,Total actions successful,Goals,Assists,Shots,...,Shots against,Saves,Saves with reflexes,Exits,Passes to GK,Passes to GK accurate,Goal kicks,Short goal kicks,Long goal kicks,Player
0,UC San Diego Tritons - San Diego Toreros 1:2,United States. NCAA D1 Non-conference matches,2024-09-09,LCB,103,47,34,0,0,0,...,0,0,0,0,0,0,0,0,0,Adam
1,UC San Diego Tritons - Lipscomb Bisons 2:2,United States. NCAA D1 Non-conference matches,2024-09-02,LCB,103,68,48,0,0,0,...,0,0,0,0,0,0,0,0,0,Adam
2,Utah Valley Wolverines - UC San Diego Tritons 3:1,United States. NCAA D1 Non-conference matches,2024-08-30,LCB,106,73,48,0,0,0,...,0,0,0,0,1,1,0,0,0,Adam
3,UC San Diego Tritons - Santa Clara Broncos 0:1,United States. NCAA D1 Non-conference matches,2024-08-23,LCB,84,75,56,0,0,1,...,0,0,0,0,1,1,0,0,0,Adam
0,UC San Diego Tritons - San Diego Toreros 1:2,United States. NCAA D1 Non-conference matches,2024-09-09,CF,73,35,14,0,0,1,...,0,0,0,0,0,0,0,0,0,Brian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,UC San Diego Tritons - Santa Clara Broncos 0:1,United States. NCAA D1 Non-conference matches,2024-08-23,"LW, RW",63,32,15,0,0,0,...,0,0,0,0,0,0,0,0,0,Val
0,UC San Diego Tritons - San Diego Toreros 1:2,United States. NCAA D1 Non-conference matches,2024-09-09,LCMF,16,8,5,0,0,0,...,0,0,0,0,0,0,0,0,0,Woody
1,Utah Valley Wolverines - UC San Diego Tritons 3:1,United States. NCAA D1 Non-conference matches,2024-08-30,"LCMF, RCMF",34,20,12,0,0,1,...,0,0,0,0,0,0,0,0,0,Woody
2,UC San Diego Tritons - Duke Blue Devils 2:3,United States. NCAA D1 Non-conference matches,2024-08-26,LCMF,33,21,11,0,0,0,...,0,0,0,0,0,0,0,0,0,Woody
3,UC San Diego Tritons - Santa Clara Broncos 0:1,United States. NCAA D1 Non-conference matches,2024-08-23,RCMF,22,21,10,0,0,0,...,0,0,0,0,0,0,0,0,0,Woody

In [117]:
usd = usd.assign(Possession = (usd.get("Passes accurate")+usd.get("Offensive duels won"))/(usd.get("Passes")+usd.get("Offensive duels")))
usd = usd.assign(PossessionActions = (usd.get("Passes")+usd.get("Offensive duels")))
usd.sort_values("Possession",ascending=False).get(["Possession", "PossessionActions"])

        Possession  PossessionActions
Player
Woody     1.000000                  3
Jonah     0.902439                 41
Adam      0.843750                 32
Connor    0.800000                  5
Quinn     0.764706                 34
Ryan      0.750000                  4
Evan      0.694444                 36
Val       0.666667                 12
James     0.640000                 25
McGee     0.625000                 16
Max       0.617647                 34
Carter    0.612903                 31
Cole      0.608696                 23
Kai       0.600000                  5
Brian     0.473684                 19

In [118]:
players = playersData.drop(["Match","Competition","Date","Position"],axis = 1).groupby("Player").sum()
players = players.assign(Possession = (players.get("Passes accurate")+players.get("Offensive duels won"))/(players.get("Passes")+players.get("Offensive duels")))
players = players.assign(PossessionActions = (players.get("Passes")+players.get("Offensive duels")))
players.sort_values("Possession",ascending=False).get(["Possession", "PossessionActions"])

        Possession  PossessionActions
Player
Adam      0.808511                188
Jonah     0.751152                217
Matt      0.745763                 59
Woody     0.733333                 30
Evan      0.722222                162
Quinn     0.719577                189
Carter    0.702703                185
James     0.671233                146
Ryan      0.666667                 12
Keenai    0.650000                 20
Connor    0.629630                 27
Val       0.621359                103
McGee     0.616071                112
Cole      0.587719                114
Max       0.570423                142
Brian     0.555556                 90
Kai       0.464789                 71